<div class="conferenceContainer" xmlns="http://www.w3.org/1999/html">

    <app-gallery-view *ngIf="chosenViewMode === 'gallery'" [cameraStreams]="videoStreams"></app-gallery-view>

    <app-speaker-view *ngIf="chosenViewMode === 'speaker'" [cameraStreams]="videoStreams"></app-speaker-view>

    <app-document-view [style.display]="chosenViewMode !== 'document' ? 'none' : ''" [cameraStreams]="videoStreams" #slideView></app-document-view>

    <!-- TODO: Create components for this hierarchy! -->

    <app-menubar>

        <app-menubar-buttongroup>
            <app-menubar-button caption="Microphone off" captionHighlightedToggleState="Micrphone on"
                                matIconName="mic_off"
                                matIconNameHighlightedToggleState="mic"
                                [highlightToggleStateActive]="janusService.isMuted"
                                [subButtonClickAction]="showAvailableMicrophones"
                                (clicked)="janusService.toggleMute()"></app-menubar-button>

            <app-menubar-button caption="Camera off"
                                captionHighlightedToggleState="Camera on"
                                matIconName="videocam_off"
                                matIconNameHighlightedToggleState="videocam"
                                [highlightToggleStateActive]="janusService.isVideoMuted"
                                [subButtonClickAction]="showAvailableCameras"
                                (clicked)="janusService.toggleCamera()"></app-menubar-button>
        </app-menubar-buttongroup>

        <app-menubar-buttongroup>
            <app-menubar-button caption="Screenshare"
                                captionHighlightedToggleState="Screenshare"
                                matIconName="screen_share"
                                matIconNameHighlightedToggleState="stop_screen_share"
                                [highlightToggleStateActive]="janusService.myScreenshareIsActive"
                                (clicked)="janusService.toggleScreenshare()"
            ></app-menubar-button>

            <app-menubar-button caption="Documents"
                                matIconName="edit"
                                (clicked)="openDocumentView()"
            ></app-menubar-button>

            <app-menubar-button caption="View mode"
                                matIconName="image"
                                [clickAction]="showAvailableViewModes"
            ></app-menubar-button>
        </app-menubar-buttongroup>

        <app-menubar-buttongroup>
            <app-menubar-button caption="Settings"
                                matIconName="settings"
            ></app-menubar-button>

            <app-menubar-button captionHighlightedToggleState="Leave"
                                matIconNameHighlightedToggleState="exit_to_app"
                                [highlightToggleStateActive]="true"
                                (clicked)="leave()"
            ></app-menubar-button>
        </app-menubar-buttongroup>

    </app-menubar>

</div>

<app-select-overlay></app-select-overlay>

<div class="not-rendered">
    <ng-container *ngFor="let audioStream of audioStreams">
        <audio *ngIf="!janusService.locallyMutedRemoteAudioFeeds[audioStream.feedId]" autoplay [srcObject]="audioStream.stream"></audio>
    </ng-container>
</div>
