<div class="container" xmlns="http://www.w3.org/1999/html">

    <app-gallery-view *ngIf="chosenViewMode === 'gallery'" [cameraStreams]="videoStreams"></app-gallery-view>

    <app-speaker-view *ngIf="chosenViewMode === 'speaker'" [cameraStreams]="videoStreams"></app-speaker-view>

    <!-- TODO: Create components for this hierarchy! -->

    <div class="footerbar">

        <div class="buttongroup">
            <div class="button" (click)="janusService.toggleMute()">
                <div (click)="showAvailableMicrophones($event)" class="subbutton">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </div>
                <mat-icon [class.red]="janusService.isMuted">{{janusService.isMuted ? 'mic_off' : 'mic'}}</mat-icon>
                <p>{{janusService.isMuted ? 'Unmute' : 'Mute'}}</p>
            </div>
            <div class="button" (click)="janusService.toggleCamera()">
                <div (click)="showAvailableCameras($event)" class="subbutton">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </div>
                <mat-icon [class.red]="janusService.isVideoMuted">{{janusService.isVideoMuted ? 'videocam_off' : 'videocam'}}</mat-icon>
                <p>Video {{janusService.isVideoMuted ? 'on' : 'off'}}</p>
            </div>
        </div>

        <div class="buttongroup">
            <div class="button" (click)="janusService.startScreenshare()">
                <mat-icon>screen_share</mat-icon>
                <p>Screenshare</p>
            </div>
            <div class="button">
                <mat-icon>edit</mat-icon>
                <p>Whiteboard</p>
            </div>
            <div class="button" (click)="showAvailableViewModes($event)">
                <mat-icon>image</mat-icon>
                <p>View mode</p>
            </div>
        </div>

        <div class="buttongroup">
            <div class="button">
                <mat-icon>settings</mat-icon>
                <p>Settings</p>
            </div>
            <div class="button" (click)="leave()">
                <mat-icon class="red">exit_to_app</mat-icon>
            <p>Leave</p>
        </div>
        </div>
    </div>

</div>

<!-- TODO: Make these a resuable component! -->

<div [style.display]="this.isSelectingMicrophone ? '' : 'none'" #microphoneSelection class="hardwareList">
    <div class="hardwareListItem" [class.active]="janusService.currentlyChosenOverrideAudioDeviceId === device.key" *ngFor="let device of janusService.audioDevices | keyvalue"
        (click)="janusService.selectAudioDevice(device.key);">
        <mat-icon *ngIf="janusService.currentlyChosenOverrideAudioDeviceId === device.key">check</mat-icon>
        {{device.value}}
    </div>
</div>

<div [style.display]="this.isSelectingCamera ? '' : 'none'" #cameraSelection class="hardwareList">
    <div class="hardwareListItem" [class.active]="janusService.currentlyChosenOverrideVideoDeviceId === device.key" *ngFor="let device of janusService.videoDevices | keyvalue"
        (click)="janusService.selectVideoDevice(device.key);">
        <mat-icon *ngIf="janusService.currentlyChosenOverrideVideoDeviceId === device.key">check</mat-icon>
        {{device.value}}
    </div>
</div>

<div [style.display]="this.isSelectingViewMode ? '' : 'none'" #viewModeSelection class="hardwareList">
    <div class="hardwareListItem" [class.active]="viewMode.key === this.chosenViewMode" *ngFor="let viewMode of this.availableViewModes | keyvalue"
        (click)="this.chosenViewMode = viewMode.key">
        <mat-icon *ngIf="viewMode.key === this.chosenViewMode">check</mat-icon>
        <p>{{viewMode.value}}</p>
    </div>
</div>


<div class="not-rendered">
    <audio autoplay *ngFor="let audioStream of audioStreams" [srcObject]="audioStream.stream"></audio>
</div>
