body {
  background: #222222;

  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
}

.videoFeedContainer {
  background: #222222;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
  grid-auto-columns: min-content;
  align-items: center;
  max-height: 90vh;
}

.videoContainer {
  display: flex;
  justify-content: center;
  //aspect-ratio: 16/9;
  aspect-ratio: 4/3;
}

video {
  object-fit: contain;
  border-radius: 0.75em;
  overflow: hidden;
  max-height: 90vh;
  border: 2px solid transparent;
}

.isTalking {
  border-color: lawngreen;
}

.footerbar {
  background: #151515;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  grid-column-gap: 10%;
}

.buttongroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttongroup:last-of-type {
  justify-content: flex-end;
}

.buttongroup:first-of-type {
  justify-content: flex-start;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  max-width: 10vw;
  width: 100%;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.red {
  color: red;
}

.button:hover {
  background-color: #555555;
}

mat-icon {
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin: 0;
  color: white;
}

.button > p {
  font-weight: bold;
  font-size: 16px;
  margin: 0.25em;
  color: white;
}