body {
  background: #222222;

  overflow: hidden;
}

.conferenceContainer {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

.videoFeedContainer {
  background: #222222;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
  grid-auto-columns: min-content;
  align-items: center;
  max-height: 90vh;
}

.videoContainer {
  display: flex;
  justify-content: center;
  //aspect-ratio: 16/9;
  aspect-ratio: 4/3;
}

video {
  object-fit: contain;
  border-radius: 0.75em;
  overflow: hidden;
  max-height: 90vh;
  border: 2px solid transparent;
}

.isTalking {
  border-color: lawngreen;
}