sl-alert {
	margin-bottom: 1rem;
}
sl-card {
	margin: 1rem 0;
	width: 100%;
}
.token-content {
	display: grid;
	column-gap: 1.5rem;
	grid-template-columns: auto 1fr;
	width: 100%;
}
.token-label {
	justify-self: end;
}
.token-container {
	display: flex;
	padding-top: 0.5rem;
}
.token-container sl-input {
	flex-grow: 1;
}
.token-controls {
	display: flex;
	gap: var(--sl-spacing-x-small);
}
.token-controls sl-button:last-child {
	margin-left: auto;
}
.help-text {
	color: var(--sl-color-neutral-700);
	margin: 0;
}
