:host {
	display: flex;
	align-items: flex-start;
	column-gap: 0.5em;
}

sl-avatar {
	--size: 1.75em;
	display: flex;
	align-items: center;
}

sl-icon {
	font-size: 1.4em;
	margin-left: auto;
}

sl-icon-button{
	display: none;
	margin-left: auto;
	font-size: 1.2em;
	align-items: center;
}

#ban::part(base) {
	padding: 0.1em;
}
