@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/popover";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";


@import "icons";


form {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

sl-option::part(base) {
	font-size: var(--sl-font-size-small);
}