player-view {
	background-color: #f8f9fa;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
player-view > .player-container {
	display: flex;
	flex-direction: row;
}
player-view .slide-container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
player-view .feed-container {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
}
player-view .right-container {
	background-color: rgba(233, 236, 239, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5em 0.5em;
	margin-left: 0.5em;
}
player-view slide-view {
	flex-grow: 1;
}
player-view .feed-container video {
	border: 2px solid #94A3B8;
	max-width: 15em;
	max-height: 9em;
}
player-view .chat-container > * {
	min-width: 15em;
}
player-view .invisible {
	display: none;
}

textarea[id=messageTextarea] {
	resize: none;
	border-radius: 0;
}
textarea[id=messageTextarea]:focus {   
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 -0.25rem rgba(13, 110, 253, 0.25);
}

#chatModal .modal-body {
	padding: 0;
}
#chatModal .modal-footer {
	border-top: 0;
}


@media (max-width: 576px) {
	player-view .feed-container video {
		border: 2px solid #94A3B8;
		max-width: 10em;
		max-height: 5em;
	}
}