<div class="player-container" id="playerContainer">
	<div class="slide-container" id="slideContainer">
		<slide-view id="slideView"></slide-view>
		<player-controls id="playerControls"></player-controls>
	</div>
	<div class="right-container" id="rightContainer">
		<div class="feed-container invisible" id="videoFeedContainer">
			<div class="invisible" id="mainVideoFeedContainer">
				<video id="videoFeed" autoplay playsinline></video>
			</div>
		</div>
		<div class="feed-container invisible" id="localVideoFeedContainer">
			<video id="localVideoFeed" autoplay playsinline muted></video>
		</div>
		<div id="containerA"></div>
	</div>
</div>