:host {
	display: flex;
	width: 100%;
	height: 100%;
	background: var(--sl-color-neutral-100);
	border: 1px solid var(--sl-color-neutral-300);
	box-sizing: border-box;
	overflow: hidden;
}
:host .container {
	display: flex;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 56.25%;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}
:host video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
:host .name {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0.25em;
}
:host .controls {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.25em;
	z-index: 2;
}
:host .controls .media-state {
	display: flex;
	background: var(--sl-color-gray-100);
	bottom: 0;
	border-radius: 0.25em;
}
.media-state .mic-state {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	width: 20px;
	min-height: 20px;
	height: 20px;
}

:host(:not([isVisible])) {
	display: none;
}

:host([isTalking]) {
	border: 2px solid var(--sl-color-emerald-500);
}

:host(:not([camActive])) video {
	display: none;
}

:not([micActive]) #mic-remote {
	color: var(--sl-color-danger-700);
}
:host([isConference]) .conference-control {
	display: none;
}
