.alias-container {
	display: flex;
	gap: 1rem;
	margin: 0 0.5rem;
}
.alias-container > sl-button {
	margin-top: calc(var(--sl-input-label-font-size-medium) + var(--sl-spacing-x-small) + var(--sl-spacing-3x-small));
}
table {
	margin: 0 0.5rem;
}
