:host {
  display: contents;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  max-width: 6.5vw;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.red {
  color: red;
}

.button:hover {
  background-color: #555555;
}

mat-icon {
  font-size: min(2.25vw, 2.5em);
  width: min(2.25vw, 2.5em);
  height: min(2.25vw, 2.5em);
  margin: 0;
  color: white;
  text-align: center;

  pointer-events: none;
}

.button > p {
  font-weight: bold;
  font-size: min(0.75vw, 1em);
  margin: 0.25em;
  color: white;

  pointer-events: none;
}

.subbutton {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
  border-radius: 0.5em;
}

.subbutton:hover {
  background-color: #393939;
}

.subbutton > mat-icon {
  font-size: min(2vw, 3em);
  margin: 0;
}