<div class="conferenceContainer">
    <div class="topBar" *ngIf="_cameraStreams.length > 1">
        <div class="me">

        </div>
        <div class="attendants">
            <app-gallery-view [isTinyView]="true" [skipAnimations]="true" [allowNavigation]="true"
                              [cameraStreams]="_cameraStreams"></app-gallery-view>
        </div>
    </div>
    <div class="documentContainer">
        <div #parent class="slide-view">
            <canvas #slideCanvas class="slide-canvas"></canvas>
            <canvas #actionCanvas class="action-canvas" scale="full"></canvas>
            <canvas #volatileCanvas class="volatile-canvas" scale="full"></canvas>
            <div #textLayer class="text-layer" (mouseover)="showHoverMenu = true"
                 (mouseleave)="showHoverMenu = true"></div>
        </div>
    </div>

    <div class="menubarContainer">
        <app-menubar #pdfActionBar *ngIf="showHoverMenu" (mouseover)="showHoverMenu = true">
            <app-menubar-button matIconName="arrow_back"
                                (clicked)="pageBack()"
            ></app-menubar-button>

            <app-menubar-button matIconName="arrow_forward"
                                (clicked)="pageForward()"
            ></app-menubar-button>
        </app-menubar>
    </div>

</div>

