:host {
	display: flex;
	flex-direction: column;
	gap: 1.0em;
	position: relative;
}
:host form {
	display: grid;
	column-gap: 1.5rem;
	row-gap: 0.5rem;
	width: 100%;
}
:host form .content {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	padding-bottom: 0.75rem;
}
:host form sl-button {
	width: fit-content;
}
:host form sl-button sl-icon {
	font-size: var(--sl-button-font-size-large);
}
:host(:not([enabled])) sl-button,
:host(:not([enabled])) sl-select {
	pointer-events: none;
	opacity: 0.4;
}

loading-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}


@media (min-width: 992px) {
	:host form {
		row-gap: 1.5rem;
		grid-template-columns: auto 1fr;
	}
	:host form .content {
		padding-bottom: 0;
	}
}
