*,
*::before,
*::after {
	box-sizing: border-box;
}

:root,
:host {
	color: var(--sl-color-neutral-900);
}

sl-icon {
	fill: var(--sl-color-neutral-800);
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

/*
 * Table
 */
table {
	border-collapse: collapse;
}
table > :not(:first-child) {
	border-top: 2px solid var(--sl-color-neutral-400);
}
table > :not(caption) > * > * {
	padding: .5rem .75rem;
	border-bottom-width: 1px;
}
table > tbody {
	background-color: var(--sl-color-neutral-0);
}
thead th {
	text-align: left;
	vertical-align: bottom;
}
tbody, td, tfoot, th, thead, tr {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}
tbody > tr:hover {
	background-color: var(--sl-color-neutral-100);
}
th, td {
	border-bottom: 1px solid var(--sl-color-neutral-200);
}
th.fit-width,
td.fit-width {
	width: 1px;
	white-space: nowrap;
}

sl-option::part(base) {
	font-size: var(--sl-font-size-small);
}

.icon-primary {
	color: var(--sl-color-primary-500);
}
.icon-danger {
	color: var(--sl-color-danger-500);
}
.icon-warning {
	color: var(--sl-color-warning-500);
}
.icon-success {
	color: var(--sl-color-success-500);
}

.button-delete sl-icon {
	color: var(--sl-color-danger-500);
}
.button-edit sl-icon {
	color: var(--sl-color-primary-500);
}

.button-group-toolbar sl-button-group:not(:last-of-type) {
	margin-right: var(--sl-spacing-x-small);
}

.text-center {
	text-align: center;
}
.text-end {
	text-align: right;
}
.help-text {
	display: block;
	color: var(--sl-input-help-text-color);
	font-size: var(--sl-input-help-text-font-size-medium);
	margin-top: var(--sl-spacing-2x-small);
}

sl-radio-group .help-text {
	margin-inline-start: 2em;
}

#meter {
	background-color: var(--sl-color-neutral-200);
	fill: var(--sl-color-primary-500);
}

/*
 * Form Validity
 */
.validity-styles sl-input,
.validity-styles sl-select,
.validity-styles sl-checkbox {
	display: block;
	margin-bottom: var(--sl-spacing-medium);
}

/* user invalid styles */
.validity-styles sl-input[data-user-invalid]::part(base),
.validity-styles sl-select[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox[data-user-invalid]::part(control),
.validity-styles sl-input[form-input-invalid]::part(base),
.validity-styles sl-select[form-input-invalid]::part(combobox),
.validity-styles sl-checkbox[form-input-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
}

.validity-styles [data-user-invalid]::part(form-control-label),
.validity-styles [data-user-invalid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-invalid]::part(label),
.validity-styles [form-input-invalid]::part(form-control-label),
.validity-styles [form-input-invalid]::part(form-control-help-text),
.validity-styles sl-checkbox[form-input-invalid]::part(label) {
	color: var(--sl-color-danger-700);
}

.validity-styles sl-checkbox[data-user-invalid]::part(control),
.validity-styles sl-checkbox[form-input-invalid]::part(control){
	outline: none;
}

.validity-styles sl-input:focus-within[data-user-invalid]::part(base),
.validity-styles sl-select:focus-within[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-invalid]::part(control),
.validity-styles sl-input:focus-within[form-input-invalid]::part(base),
.validity-styles sl-select:focus-within[form-input-invalid]::part(combobox),
.validity-styles sl-checkbox:focus-within[form-input-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
.validity-styles sl-input[data-user-valid]::part(base),
.validity-styles sl-select[data-user-valid]::part(combobox),
.validity-styles sl-checkbox[data-user-valid]::part(control) {
	border-color: var(--sl-input-border-color);
}

.validity-styles [data-user-valid]::part(form-control-label),
.validity-styles [data-user-valid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-valid]::part(label) {
	color: var(--sl-input-label-color);
}

.validity-styles sl-checkbox[data-user-valid]::part(control) {
	background-color: var(--sl-color-success-600);
	outline: none;
}

.validity-styles sl-input:focus-within[data-user-valid]::part(base),
.validity-styles sl-select:focus-within[data-user-valid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-valid]::part(control) {
	border-color: var(--sl-input-border-color-focus);
	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-input-focus-ring-color);
}
