*,
*::before,
*::after {
	box-sizing: border-box;
}

:root,
:host {
	color: var(--sl-color-neutral-900);
}

sl-icon {
	fill: var(--sl-color-neutral-800);
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

sl-option::part(base) {
	font-size: var(--sl-font-size-small);
}

#meter {
	background-color: var(--sl-color-neutral-200);
	fill: var(--sl-color-primary-500);
}