*,
*::before,
*::after {
	box-sizing: border-box;
}

:root,
:host {
	color: var(--sl-color-neutral-900);
}

sl-icon {
	fill: var(--sl-color-neutral-800);
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

/*
 * Table
 */
table {
	border-collapse: collapse;
}
table > :not(:first-child) {
	border-top: 2px solid var(--sl-color-neutral-400);
}
table > :not(caption) > * > * {
	padding: .5rem .75rem;
	border-bottom-width: 1px;
}
table > tbody {
	background-color: var(--sl-color-neutral-0);
}
thead th {
	text-align: left;
	vertical-align: bottom;
}
tbody, td, tfoot, th, thead, tr {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}
tbody > tr:hover {
	background-color: var(--sl-color-neutral-100);
}
th, td {
	border-bottom: 1px solid var(--sl-color-neutral-200);
}
th.fit-width,
td.fit-width {
	width: 1px;
	white-space: nowrap;
}

sl-option::part(base) {
	font-size: var(--sl-font-size-small);
}

.icon-primary {
	color: var(--sl-color-primary-500);
}
.icon-danger {
	color: var(--sl-color-danger-500);
}
.icon-warning {
	color: var(--sl-color-warning-500);
}
.icon-success {
	color: var(--sl-color-success-500);
}

.button-delete sl-icon {
	color: var(--sl-color-danger-500);
}
.button-edit sl-icon {
	color: var(--sl-color-primary-500);
}

.button-group-toolbar sl-button-group:not(:last-of-type) {
	margin-right: var(--sl-spacing-x-small);
}

.text-center {
	text-align: center;
}
.text-end {
	text-align: right;
}
.help-text {
	display: block;
	color: var(--sl-input-help-text-color);
	font-size: var(--sl-input-help-text-font-size-medium);
	margin-top: var(--sl-spacing-2x-small);
}

sl-radio-group .help-text {
	margin-inline-start: 2em;
}

#meter {
	background-color: var(--sl-color-neutral-200);
	fill: var(--sl-color-primary-500);
}

/*
 * Form Validity
 */
.validity-styles sl-input,
.validity-styles sl-select,
.validity-styles sl-checkbox {
	display: block;
	margin-bottom: var(--sl-spacing-medium);
}

/* user invalid styles */
.validity-styles sl-input[data-user-invalid]::part(base),
.validity-styles sl-select[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox[data-user-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
}

.validity-styles [data-user-invalid]::part(form-control-label),
.validity-styles [data-user-invalid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-invalid]::part(label) {
	color: var(--sl-color-danger-700);
}

.validity-styles sl-checkbox[data-user-invalid]::part(control) {
	outline: none;
}

.validity-styles sl-input:focus-within[data-user-invalid]::part(base),
.validity-styles sl-select:focus-within[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-invalid]::part(control) {
	border-color: var(--sl-color-danger-600);
	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/*
 * Grid.js
 */
.gridjs-footer {
	margin: var(--sl-spacing-x-small) 0;
}
.gridjs-pagination {
	display: flex;
	justify-content: space-between;
}
.gridjs-pages {
	display: flex;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: 0;
}
.gridjs-pages > button {
	background-color: var(--sl-color-neutral-0);
	border-color: var(--sl-input-border-color);
	color: var(--sl-color-neutral-700);
	height: auto;
	min-height: var(--sl-input-height-small);
	font-size: var(--sl-button-font-size-small);
	line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width)* 2);
	border-radius: var(--sl-input-border-radius-small);
	display: inline-flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	border-style: solid;
	border-width: var(--sl-input-border-width);
	font-family: var(--sl-input-font-family);
	font-weight: var(--sl-font-weight-semibold);
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0 var(--sl-spacing-small);
	transition: var(--sl-transition-x-fast) background-color, var(--sl-transition-x-fast) color, var(--sl-transition-x-fast) border, var(--sl-transition-x-fast) box-shadow;
	cursor: pointer;
}
.gridjs-pages > button:hover {
	background-color: var(--sl-color-primary-50);
	border-color: var(--sl-color-primary-300);
	color: var(--sl-color-primary-700);
	z-index: 1;
}
.gridjs-pages > button:active {
	background-color: var(--sl-color-primary-100);
	border-color: var(--sl-color-primary-400);
	color: var(--sl-color-primary-700);
}
.gridjs-pages > button:not(:last-child) {
	border-start-end-radius: 0;
	border-end-end-radius: 0;
}
.gridjs-pages > button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-inline-start: calc(-1* var(--sl-input-border-width));
}
.gridjs-pages > button:last-child {
	border-start-start-radius: 0;
	border-end-start-radius: 0;
}
.gridjs-head {
	margin: var(--sl-spacing-x-small) 0;
}
.gridjs-search {
	width: 20rem;
}
.gridjs-search > input {
	background-color: var(--sl-input-background-color);
	border: solid var(--sl-input-border-width) var(--sl-input-border-color);
	border-radius: var(--sl-input-border-radius-medium);
	font-size: var(--sl-input-font-size-medium);
	height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
	display: inline-flex;
	align-items: stretch;
	justify-content: start;
	position: relative;
	width: 100%;
	padding: 0 var(--sl-input-spacing-medium);
	font-family: var(--sl-input-font-family);
	font-weight: var(--sl-input-font-weight);
	letter-spacing: var(--sl-input-letter-spacing);
	vertical-align: middle;
	overflow: hidden;
	cursor: text;
	transition: var(--sl-transition-fast) color, var(--sl-transition-fast) border, var(--sl-transition-fast) box-shadow, var(--sl-transition-fast) background-color;
}
.gridjs-search > input:focus {
	background-color: var(--sl-input-background-color-focus);
	border-color: var(--sl-input-border-color-focus);
	box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-input-focus-ring-color);
	color: var(--sl-input-color-focus);
	outline: none;
}
.gridjs-search > input:hover {
	background-color: var(--sl-input-background-color-hover);
	border-color: var(--sl-input-border-color-hover);
}
