<div class="conferenceContainer">
    <div class="topBar" *ngIf="_cameraStreams.length > 1">
        <div class="me">

        </div>
        <div class="attendants">
            <app-gallery-view [isTinyView]="true" [skipAnimations]="true" [allowNavigation]="true" [cameraStreams]="nonTalkingFeedStreams"></app-gallery-view>
        </div>
    </div>
    <div class="speakerContainer">
        <app-gallery-view [skipAnimations]="true" [allowNavigation]="false" [cameraStreams]="[talkingFeedStream]"></app-gallery-view>
    </div>
</div>