.message-head {
	display: flex;
	font-size: 0.8rem;
	margin-bottom: 0.3em;
	flex-wrap: wrap-reverse;
}
.message-sender {
	font-weight: bold;
	margin: 0 1em 0 0;
}
.message-time {
	color: var(--sl-color-neutral-700);
	align-items: end;
	justify-content: end;
	margin: 0 1em 0 0;
}

pre {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

.chat-message-container {
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	background: var(--sl-color-gray-200);
	overflow-wrap: break-word;
	padding: 0.4rem 1rem;
	margin: 0 15% 0 0;
	width: fit-content;
	max-width: 80%;
}
.chat-message-content {
	overflow-wrap: break-word;
}
.reply-message-boxed {
	font-size: var(--sl-font-size-x-small);
	background: var(--sl-color-gray-100);
	width: 100%;
	border-radius: 3px;
	border-left: 3px solid var(--sl-color-neutral-500);
}
.reply-message-content {
	overflow-wrap: break-word;
	border-radius: 5px;
	margin: 0 0 0 auto;
	width: 100%;
	padding: 0 0.3rem;
}
.reply-message-header {
	font-weight: bold;
	margin: 0 0 0 auto;
	border-radius: 5px 5px 0 0;
	padding: 0 0.3rem;
}
.message-private {
	background: var(--sl-color-rose-200);
	border-radius: 4px;
	padding: 1px 6px;
	margin: 0 0 0 1em;
	height: fit-content;
}
.message-edited {
	background: var(--sl-color-sky-100);
	border-radius: 4px;
	padding: 1px 6px;
	margin: 0 1em 0 0;
	height: fit-content;
	text-align: right;
}
.modify-buttons {
	display: flex;
	flex-direction: row;
}
.deleted-message-content {
	font-style: italic;
}
:host([myself]) .message-head {
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}
:host([myself]) .message-sender {
	font-weight: bold;
	margin: 0 0 0 1em;
}
:host([myself]) .message-time {
	margin: 0 0 0 1em;
}
:host([myself]) .message-private {
	margin: 0 1em 0 0;
}
:host([myself]) .chat-message-container {
	-webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
	background: var(--sl-color-primary-100);
	margin: 0 0 0 15%;
	margin-left: auto;
}
:host([myself]) .reply-message-boxed {
	background: var(--sl-color-primary-50);
	border-left: 3px solid var(--sl-color-primary-600);
}
:host([myself]) .modify-buttons {
	justify-content: flex-end;
}
:host([edited]) .message-private {
	margin: 0 1em 0 0;
}

#deletedMsg {
	color: gray;
	font-style: italic;
}

.chat-message-edit {
	display: flex;
	align-items: center;
}
  
textarea {
	flex: 1;
	margin-right: 8px;
}
